.image-card-wrapper{
	
	display:flex;
	flex-wrap: wrap;
	margin-block: 20px;
	align-items: center;
	justify-content: space-around;
	
	
}

.image-card{
	overflow: hidden;
	margin:10px;
	margin-left: 4px;
	margin-right: 4px;
	box-shadow: 0 1px 15px gray;
	border-radius: 10px;
	justify-content: space-between;
	cursor: pointer;
	transition: transform 200ms ease-in;
	width:380px;
	height:380px;
	display: flex;
	flex-direction: column;
	
}

.image-card img{
  height: 100%;
  width: 100%;
  object-fit:fill;
}

.image-card:hover{
	transform: scale(1.02);

}


.search-wrapper{
	background-color:white;
	border-radius: 25px;
    box-shadow: 0 1px 15px lightgray;
	margin: auto;
	width:50%;
	height:50px;
	padding-left: 20px;
	padding-right:20px;
	margin-top: 1rem;

}

#search{
	border-radius: 25px;
	border: none;
	height: 47px;
	width : 90%;

}
#search:focus{
	outline: none;
	
}

#button{
  border-style: hidden;
  background-color: white;
}